---
import { getCollection } from 'astro:content';

const products = await getCollection('products');
const prices = await getCollection('prices');
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <h1>Stripe Astro Data Loader</h1>
        <p>Fetch and cache from Stripe using Astro's Content Layer</p>
	    <h3>Products</h3>
        <ul>
            {products.map((product: any) => (
                <li><a href={`/products/${product.id}`}>{product.data.name}</a></li>
            ))}
        </ul>

        <h3>Prices</h3>
        <ul>
            {prices.map((price: any) => (
                <li><a href={`/prices/${price.id}`}>{price.id}</a></li>
            ))}
        </ul>
	</body>
</html>
